@font-face {
  font-family: "SharpSans";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/SharpSans/SharpSansFrontieres-Medium.eot");
  src: url("fonts/SharpSans/SharpSansFrontieres-Medium.eot?#iefix") format("embedded-opentype"),
       url("fonts/SharpSans/SharpSansFrontieres-Medium.woff") format("woff"),
       url("fonts/SharpSans/SharpSansFrontieres-Medium.ttf") format("truetype"),
       url("fonts/SharpSans/SharpSansFrontieres-Medium.svg#SharpSans") format("svg");
}

@font-face {
  font-family: "SharpSansLight";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/SharpSans/SharpSansFrontieres-Light.eot");
  src: url("fonts/SharpSans/SharpSansFrontieres-Light.eot?#iefix") format("embedded-opentype"),
       url("fonts/SharpSans/SharpSansFrontieres-Light.woff") format("woff"),
       url("fonts/SharpSans/SharpSansFrontieres-Light.ttf") format("truetype"),
       url("fonts/SharpSans/SharpSansFrontieres-Light.svg#SharpSans") format("svg");
}

@font-face {
  font-family: "AvenirNext";
  src: url("fonts/AvenirNext/AvenirNext.eot");
  src: url("fonts/AvenirNext/AvenirNext.eot?#iefix") format("embedded-opentype"),
       url("fonts/AvenirNext/AvenirNext.woff") format("woff"),
       url("fonts/AvenirNext/AvenirNext.ttf") format("truetype"),
       url("fonts/AvenirNext/AvenirNext.svg#SharpSans") format("svg");
}

@font-face {
  font-family: "AvenirNextLight";
  src: url("fonts/AvenirNext/AvenirNextLight.eot");
  src: url("fonts/AvenirNext/AvenirNextLight.eot?#iefix") format("embedded-opentype"),
       url("fonts/AvenirNext/AvenirNextLight.woff") format("woff"),
       url("fonts/AvenirNext/AvenirNextLight.ttf") format("truetype"),
       url("fonts/AvenirNext/AvenirNextLight.svg#SharpSans") format("svg");
}

body {
  background: #f2f5f7 url("images/bg-faces.png") repeat no-repeat;
  font-family: "AvenirNextLight";
}

form {
  display: none; 
}

header {
  text-align: center;
  margin-bottom: 48px;
}

label, .feedback-text {
  font-size: 16px;
  text-align: left;
  color: #354464;
}

.feedback {
  color: #46d633 !important;
  margin-bottom: 24px;
}

.feedback-text {
  text-align: center;
}

.help {
  margin-top: 5px;
  color: #9eabb4;
  font-size: 14px;
}

h1, h2, h3 {
  font-family: "SharpSans", "Helvetica Neue", "Helvetica", "Arial";
}

h1, h2, h3 {
  font-weight: 600;
}

h4 {
  font-size: 30px;
  text-align: center;
}

input, textarea {
  font-size: 14px;
  border: 1px solid #c8d4db;
  box-shadow: inset 0 1px 0 #f5f7f9;
  color: #111;
  padding: 9px 12px;
  line-height: 1.3;
  background-color: white;
  -webkit-border-radius: 0;
  border-radius: 0;
  outline: none;
}

input:focus, textarea:focus {
  border-color: #33d1ff;
}

textarea {
  resize: none;
}

.ss-q-short, .ss-q-long {
  width: 100%;
}

.ss-item {
  margin: 30px 0;
}

.submit-wrapper {
  margin-bottom: 40px;
  text-align: center;
}

#ss-submit {
  color: #fff;
  font-family: "AvenirNextLight", "Helvetica Neue", "Helvetica", "Arial";
  font-weight: 600;
  background-color: #46d633;
  text-transform: uppercase;
  border: 0;
  border-bottom: 1px solid #32aa22;
  min-width: 192px;
  padding: 18px 36px 16px;
  text-align: center;
}

#ss-submit:hover {
  background-color: #55d944;
}

#ss-submit:active {
  background-color: #32aa22;
}

#tw-logo {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

#wrapper {
  margin-top: 36px;
}

.ics-title {
  font-family: "SharpSans", "Helvetica Neue", "Helvetica", "Arial";
  text-transform: uppercase;
  color: #354464;
  text-align: center;
}

.ss-q-item-label {
  color: #354464;
}

.code {
  font-family: 'Source Code Pro', 'Courier New';
  font-weight: 400;
}

.notify {
  margin-bottom: 40px;
  color: #46d633;
  text-align: center;
  font-size: 14px;
}

.notify h4 {
  margin-bottom: 20px;
}