@font-face {
  font-family: "SharpSans";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/SharpSans/SharpSansFrontieres-Light.eot");
  src: url("fonts/SharpSans/SharpSansFrontieres-Light.eot?#iefix") format("embedded-opentype"),
       url("fonts/SharpSans/SharpSansFrontieres-Light.woff") format("woff"),
       url("fonts/SharpSans/SharpSansFrontieres-Light.ttf") format("truetype"),
       url("fonts/SharpSans/SharpSansFrontieres-Light.svg#SharpSans") format("svg");
}

@font-face {
  font-family: "AvenirNext";
  src: url("fonts/AvenirNext/AvenirNext.eot");
  src: url("fonts/AvenirNext/AvenirNext.eot?#iefix") format("embedded-opentype"),
       url("fonts/AvenirNext/AvenirNext.woff") format("woff"),
       url("fonts/AvenirNext/AvenirNext.ttf") format("truetype"),
       url("fonts/AvenirNext/AvenirNext.svg#SharpSans") format("svg");
}

@font-face {
  font-family: "AvenirNextLight";
  src: url("fonts/AvenirNext/AvenirNextLight.eot");
  src: url("fonts/AvenirNext/AvenirNextLight.eot?#iefix") format("embedded-opentype"),
       url("fonts/AvenirNext/AvenirNextLight.woff") format("woff"),
       url("fonts/AvenirNext/AvenirNextLight.ttf") format("truetype"),
       url("fonts/AvenirNext/AvenirNextLight.svg#SharpSans") format("svg");
}

body {
  background-color: #f5f7f9;
  font-family: "AvenirNextLight";
}

form {
  text-align: center;
}

.ss-q-short, .ss-q-long {
  width: 100%;
}

#ss-submit {
  color: #fff;
  font-family: "AvenirNextLight";
  font-weight: 600;
  background-color: #46d633;
  text-transform: uppercase;
  border: 0;
  border-bottom: 1px solid #32aa22;
  min-width: 192px;
  padding: 18px 36px 16px;
}

#ss-submit:hover {
  background-color: #55d944;
}

#ss-submit:active {
  background-color: #32aa22;
}